
@{
    ViewData["Title"] = "Talep Oluşturma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="app">
    <div class="content">
        <div class="block block-rounded block-bordered block-fx-shadow">
            <div class="block-header block-header-default">
                <h3 class="block-title"></h3>
                <div class="block-options">
                    <div class="block-options-item">
                    </div>
                </div>
            </div>
            <div class="block-content">
                <message v-for="message in config.messages" v-bind:type="message.type" v-bind:content="message.content"></message>
                <div class="row ml-4">
                    <div class="col-lg-7">
                        <form class="form">

                            <h4 class="content-heading">Talep İşlemi</h4>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="">Açıklama</label>
                                <div class="col-sm-9">
                                    <textarea v-model="demandDto.Text" v-validate="'required'" type="text" class="form-control form-control-alt" rows="5" placeholder="" name="Description" data-vv-as="Açıklama"></textarea>
                                    <span class="error" v-if="errors.has('Description')">{{errors.first('Description')}}</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="">Öncelik Durumu</label>
                                <div class="col-sm-9">
                                    <select class="form-control" v-model="demandDto.OrderOfUrgencyId" name="OrderOfUrgencyId" data-vv-as="Aciliyet Durumu" v-validate="'required'">
                                        <option v-bind:value="order.Id" v-for="order in urgencies">{{order.Title}}</option>
                                    </select>
                                    <span class="error" v-if="errors.has('OrderOfUrgencyId')">{{errors.first('OrderOfUrgencyId')}}</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-8 ml-auto">
                                    <button type="button" v-on:click="onSubmit" class="btn btn-primary">Kaydet</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var urgencies = @Html.Raw(ViewBag.Urgencies);
</script>

<script src="~/js/dist/component/demand/create.js" asp-append-version="true"></script>

