
@{
    ViewData["Title"] = "Kullanıcı Silme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="app">
    <div v-cloak class="ml-4">

        <div class="bg-body-light">
            <div class="content content-full content-top-custom">
                <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
                    <h4 class="flex-sm-fill font-size-h2 font-w400 mt-2 mb-0 mb-sm-2">Kullanıcı Silme İşlemi</h4>
                    <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                        <a href="javascript:void(0)" onclick="javascript:history.back();" class="btn btn-gray mr-1 mb-3" style="background:#4e73df;color:white">
                            <span style="display:block;"><i class="fa fa-fw fa-arrow-circle-left fa-2x" style="color:white"></i></span> Geri
                        </a>
                    </nav>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="block block-rounded block-bordered block-fx-shadow">
                <div class="block-header block-header-default">
                    <h3 class="block-title"></h3>
                    <div class="block-options">
                        <div class="block-options-item">
                        </div>
                    </div>
                </div>
                <div class="block-content">
                    <message v-for="message in config.messages" v-bind:type="message.type" v-bind:content="message.content"></message>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Kullanıcıyı silmek istediğinize emin misiniz?</p>
                        </div>
                        <div class="col-lg-2">
                            <button type="button" v-on:click="onSubmit" class="btn btn-primary form-control form-control-alt">Sil</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var userViewModel = @Html.Raw(ViewBag.UserViewModel);
</script>
<script src="~/js/dist/component/user/delete.js" asp-append-version="true"></script>


