@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="/css/login.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous">

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <i class="fas fa-user text-secondary" style="font-size:80px;margin:50px"></i>
        </div>
        <!-- Login Form -->

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.Email" type="text" class="form-control" placeholder="E-Mail" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <button type="submit" class="btn text-light m-4" style="background-color:#4e73df;">Giriş Yap</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}